@tailwind base;
@tailwind components;
@tailwind utilities;


 .react-tel-input .form-control{
    background-color: var(--fallback-b1, oklch(var(--b1)))/var(--tw-bg-opacity);
    border: none;
}
.react-tel-input .flag-dropdown {
    background-color: var(--fallback-b1, oklch(var(--b1)))/var(--tw-bg-opacity);
    border: none;
}


   
/* SideNav Component Start*/

::-webkit-scrollbar {
    width: 7px;
   }

.chatsAndFriends:hover::-webkit-scrollbar-thumb {
    @apply !bg-[#A9A9A9] rounded-md
    
}

/* SideNav Component End*/

/* messageContainer Component Start*/

.messageContainer:hover::-webkit-scrollbar-thumb {
    @apply !bg-[#A9A9A9] rounded-md
}

.avatar.online:before {
    @apply !w-[20%] h-[20%]
}
/* messageContainer Component End*/

/* babalikan ko na bug */
/* .react-tel-input .flag-dropdown :hover {
    @apply !bg-base-200;    
}

.react-tel-input .flag-dropdown.open .selected-flag {
    @apply !bg-base-200 rounded-md;
}

.react-tel-input .country-list{
    @apply !bg-base-200;
} 

.react-tel-input .selected-flag :hover {
    @apply !bg-base-200;
} */