@tailwind base;
@tailwind components;
@tailwind utilities;



 .react-tel-input .form-control{
    background-color: var(--fallback-b1, oklch(var(--b1)))/var(--tw-bg-opacity);
    border: none;
}
.react-tel-input .flag-dropdown {
    background-color: var(--fallback-b1, oklch(var(--b1)))/var(--tw-bg-opacity);
    border: none;
}


/* babalikan ko na bug */
/* .react-tel-input .flag-dropdown :hover {
    @apply !bg-base-200;    
}

.react-tel-input .flag-dropdown.open .selected-flag {
    @apply !bg-base-200 rounded-md;
}

.react-tel-input .country-list{
    @apply !bg-base-200;
} 

.react-tel-input .selected-flag :hover {
    @apply !bg-base-200;
} */